#goldendoodle {
    max-height: 500px;
    max-width: 300px;
}


.logo {
    font-size: 24px;
    color: #F9FAF8;
    margin-top: 0px;
    margin-bottom: 0px;;
}
.container1 {
    display: flex;
    justify-content: space-between;
    
    
    /* border: blue 2px solid; */
}

.container2 {
    gap: 16px;
    display: flex;

}

.container3 {
    display: flex;
    gap: 8px;
    justify-content: space-between;
    /* border: red solid 2px; */
    padding-top: 50px;
    padding-bottom: 50px;
    color: #E5E7EB;
}

.container3-item {
 
    width: 300px;
    max-height: 250px;;
    justify-content: space-between;
    padding-top: 0;
    margin-top: 0;
}
.awesome {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
    margin: 0;
}

.container1, .container3 {
    padding-left: 120px;
    padding-right: 120px;
    background-color: #1F2937;
}

a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

.container4 {
    display: flex;
    font-weight: bolder;
    font-size: 20px;
    justify-content: center;

}

body {
    font-family: 'Roboto', sans-serif;
}